<div class="page-body">
  <div class="form-group well new-idea">
    <h3>WHAT DO YOU THINK?</h3>
    Title: <input class="form-control" type="text" id="idea-title">
    Body: <input class="form-control" type="text" id="idea-body">
    <center><input class="btn btn-default" id="create-idea" type="button" name="submit" value="Save"></center>
  </div>
  <center>
    <div class="title-block">
      <h1>IDEA BOX</h1>
      <hr>
      <div class="filter filter-bar">
        <label>Search&nbsp;</label>
        <%= text_field :idea, :filter_all, class: "filter-field" %>
      </div>
      <hr>
    </div>
  </center>
  <div id="all-ideas">
  </div>
</div>
