<div class="form-group">
  <input class="form-control" type="text" id="idea-title">
</div>
<div class="form-group">
  <input class="form-control" type="text" id="idea-body">
</div>
<input class="btn btn-default" id="create-idea" type="button" name="submit" value="Create Idea">

<% @ideas.each do |idea| %>
  <div class="well">
    <%= idea.title %>
    <%= idea.body %>
    <%= idea.quality %>
  </div>
<% end %>
